.blog_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.blog-card {
    min-width: 18em;
    height: auto; 
    margin: 2em 2em;
    word-wrap: break-word;
    border: 1px solid black;
    position: relative;
    background-color: var(--bg-card);
    padding:10px;
  }
  
  .blog-card-img {
    width: 100%;
    height: 60%;
    position: relative;

  }
  
  .blog-card:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 150px;
    left: -15px;
    top: -15px;
    border-left: 3px solid var(--btn-color);
    border-top: 3px solid var(--btn-color);
  }
  
  .blog-card > h2:first-of-type {
    z-index: 1;
    position: absolute;
    right: -35px;
    top: -130px;
    font-size: 5rem;
    color: #6e0a9cd9;
  }
  
 .blog-text {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
 }