@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&family=Ysabeau+Infant:wght@500&family=Ysabeau:ital,wght@1,300&display=swap');

.light-theme {
  --primary-color: #fff;
  --secondary-color:#f0f0f0;
  --text-color:#000;
  --bg-card:#fff;
  --btn-color:#9422affc;
  --stic-back:#ebeaea;
  --github:black;
}

.dark-theme {
  --primary-color: #191824f7;
  --secondary-color:#111421;
  --text-color:#f5f5fc;
  --bg-card:#0b0707;
  --btn-color:#9422affc;
  --stic-back:black;
  --github:#f0f0f0;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Ysabeau Infant', sans-serif;
}

* {
  box-sizing: border-box;
}


header {
  position: sticky;
  z-index: 30;
  top: 0;
}

.prime_btn {
  background-color: var(--btn-color);
  padding: 15px 20px;
  font-weight: 600;
  font-size: 1.1rem;
  color:white;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor:pointer;
}
.prime_btn:hover {
  background-color: white;
  border: 2px solid rgb(190,8,156);
  color:rgb(190,8,156);
  transition: 1s ease;
}

.stick_left {
  position: fixed;
  overflow-x:auto;
  bottom: 0;
  background-color: var(--stic-back);
  width: 60px;
  margin-left: 10px;
  padding-top: 10px;
  z-index: 9999;
}

.vl {
  border-left: 6px solid var(--text-color);
  height: 12em;
  margin-left: 25px;
}

.soc-icon {
 font-size: 3rem;
 margin: 0px 0px 10px 5px;
}

.section_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0em;
  background-color: var(--primary-color);
  color:var(--text-color);
  scroll-margin-top: 60px;
}

.sec_color {
  background-color: var(--secondary-color);
  color:var(--text-color);
}
