@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ysabeau+Infant:wght@500&family=Ysabeau:ital,wght@1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ysabeau Infant', sans-serif;
  /* background-color: #1E1E1E; */
}

header{
  position: sticky;
  z-index: 30;
  top: 0;
}

.vl {
  border-left: 6px solid rgb(8, 8, 8);
  height: 12em;
  margin-left: 25px;
}

.prime_btn {
  background-color: rgb(190, 8, 156);
  padding: 15px 20px;
  font-weight: 600;
  font-size: 1.1rem;
  color:white;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
}
.prime_btn:hover {
  background-color: white;
  border: 2px solid rgb(190,8,156);
  color:rgb(190,8,156);
  transition: 1s ease;
}
.projects_card_section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech_section {
  background-color: #f7f7f7;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.mini_card {
  /* background-color: rgb(56, 248, 18); */
  padding: 10px 15px;
  margin: 10px 10px;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 10px;
  min-width: 10em;
 
}
.tech_icon {
  padding: 0px;
  margin: 0px 15px 0px 2px;
  display: inline;
}

* {
  box-sizing: border-box;
}

.stick_left {
  position: sticky;
  bottom: 0;
  background-color: rgb(225, 225, 225);
  width: 60px;
  margin-left: 10px;
  padding-top: 10px;
}
.soc-icon {
 font-size: 3rem;
 margin: 0px 0px 10px 5px;
}



.footer-section{
  width: 100%;
  height: 10%;
  background-color: rgb(6, 6, 6);
  margin-top: auto;
  color:white;
  display: flex;
  justify-content: space-around;
}

.footer-section > ul > li {
  display: inline;
  margin: 10px;
  padding: 10px;
}



/* .blog-card-body{
  width: 19vw;
  height: 140px;
  border: 1px solid rgb(0, 8, 0);
} */

/* .blog-card-body {
  position:absolute;
  margin: -20px 0px 0px -40px;
  border: 1px solid black;
  width: 90%;
  height: 90%;
} */


/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
