@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ysabeau+Infant:wght@500&family=Ysabeau:ital,wght@1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ysabeau Infant', sans-serif;
  /* background-color: #1E1E1E; */
}

* {
  box-sizing: border-box;
}


header{
  position: sticky;
  z-index: 30;
  top: 0;
}



.prime_btn {
  background-color: rgb(190, 8, 156);
  padding: 15px 20px;
  font-weight: 600;
  font-size: 1.1rem;
  color:white;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
}
.prime_btn:hover {
  background-color: white;
  border: 2px solid rgb(190,8,156);
  color:rgb(190,8,156);
  transition: 1s ease;
}

.stick_left {
  position: sticky;
  bottom: 0;
  background-color: rgb(225, 225, 225);
  width: 60px;
  margin-left: 10px;
  padding-top: 10px;
}

.vl {
  border-left: 6px solid rgb(8, 8, 8);
  height: 12em;
  margin-left: 25px;
}

.soc-icon {
 font-size: 3rem;
 margin: 0px 0px 10px 5px;
}

.section_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0em;
}

.sec_color{
  background-color:rgb(242, 242, 242);
}