.home_section{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bold_txt {
  font-size: 1.4rem;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  .home_section {
    display:flex;
    flex-direction:column-reverse;
  }
 
}